<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet">
    <title>App - {{#if title}}{{title}}{{else}}{{myTitle}}{{/if}}</title>
  </head>
  <body class="min-h-screen bg-gray-50 flex flex-col">
    {{> navbar}}
    <main class="flex-1 flex justify-center px-4 py-12">
      <div class="w-full max-w-4xl">
        {{{body}}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>
